-# board/_board.html.haml
- if defined?(game)
  - board = game.current_board
  - valids = game.valid_positions
- else
  - valids = []
- tile_classes = tile_class_array(board, valids)
- (0..(board.dimension - 1)).each do |down|
  .row
    - (0..(board.dimension - 1)).each do |across|
      %img{ :id => "#{Board::LETTERS[across].downcase}#{Board::LETTERS[down].downcase}", :src => '/images/dot_clear.gif', :class => tile_classes[across][down], :height => 30, :width => 30 }>