-# board/_board.html.haml
- (0..(board.dimension - 1)).each do |down|
  .row
    - (0..(board.dimension - 1)).each do |across|
      - location = board[across][down]
      %img{ :src => tile_path(location) }>