-# board/_board.html.haml
- image_path_arr = image_paths(board)
- (0..(board.dimension - 1)).each do |down|
  .row
    - (0..(board.dimension - 1)).each do |across|
      %img{ :src => image_path_arr[across][down] }>