-# board/_board.html.haml
- tile_img_class_arr = tile_img_class_array(board)
- (0..(board.dimension - 1)).each do |down|
  .row
    - (0..(board.dimension - 1)).each do |across|
      %img{ :id => "#{Board::LETTERS[across].downcase}#{Board::LETTERS[down].downcase}", :src => '/images/dot_clear.gif', :class => tile_img_class_arr[across][down], :height => 30, :width => 30 }>