[submodule "./vendor/plugins/rewrite_rails"]
	path = ./vendor/plugins/rewrite_rails
	url = git://github.com/raganwald/rewrite_rails.git
[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/nex3/haml.git
[submodule "vendor/plugins/state_machine"]
	path = vendor/plugins/state_machine
	url = git://github.com/pluginaweek/state_machine.git
