// (c) 2010 Reg Braithwaite. All rights to the entirety of the program and its parts are reserved with 
// the exception of specific files otherwise licensed. Other licenses apply only to the files where
// they appear.

!!!Strict
%html{html_attrs('en')}
  %head
  
    %title World of Go
  
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black"}/
    %meta{:name=>"viewport", :content=>"user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"}/
      
    // their stuff
    
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery.timers-1.2.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/jqtouch.customized.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery.periodicalupdater.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery.gravatar.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery.min.jquery.saveit.js", :type=>"text/javascript", :charset=>"utf-8"}
    
    %script{:src=>"j/md5.js", :type=>"text/javascript", :charset=>"utf-8"}
    
    %script{:src=>"j/to-function.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/functional.js", :type=>"text/javascript", :charset=>"utf-8"}
    
    // my open stuff
    
    %script{:src=>"j/igesture.jquery.mobile_safari.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery.combinators.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/dragscrollable.js", :type=>"text/javascript", :charset=>"utf-8"}
    
    // my proprietary stuff
    
    %script{:src=>"j/go.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/adjacency.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/referee.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/start.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/ui.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/history.js", :type=>"text/javascript", :charset=>"utf-8"} 
    
    %style{:type=>"text/css", :media=>"screen"} @import "c/jqtouch.css";
    %style{:type=>"text/css", :media=>"screen"} @import "c/jqtouch.ipad.customized.css";
    %style{:type=>"text/css", :media=>"screen"} @import "c/application.css";
    %style{:type=>"text/css", :media=>"screen"} @import "c/board.ipad.css";
    
    %style
    
    :javascript
      // (c) 2010 Reg Braithwaite. All rights to the entirety of the program and its parts are reserved with 
      // the exception of specific files otherwise licensed. Other licenses apply only to the files where
      // they appear.
      var jQT = new $.jQTouch({
          icon: 'i/black_white.png',
          statusBar: 'black-translucent',
          touchSelector: '.board .intersection, .board, .touch',
          preloadImages: [
              'i/back_button_clicked.png',
              'i/button_clicked.png',
              'i/ajax-loader-black.gif'
              ]
      });
      $(function(){
          jQT.addAnimation({
              name: 'slideback',
              selector: '.slideback'
          });
      });
  %body
      
    %div#useful_stuff
      .ajax_load
        %img{:src=>'i/ajax-loader-black.gif',:height=>66,:width=>66}
        
    #new.current
      .toolbar 
        %h1 Start
      %form#form.new_game
        %ul.edit.rounded
          %li.email
            %img.label{:src=>'/images/dot_clear.gif'}>
            %input#black{:name=>'black', :placeholder=>"Black's name or email address", :type=>'text'}/
          %li.email
            %img.label{:src=>'/images/dot_clear.gif'}>
            %input#white{:name=>'white', :placeholder=>"White's name or email address", :type=>'text'}/
          %li.rules
            .label Game:
            %select#rules{:name=>'rules'}
          %li.size
            .label Size: 
            %select#dimension{:name=>'dimension'}
          %li.setup
            .label Setup:
            %select#setup{:name=>'setup'}
        %a.whiteButton#start{:style=>"margin:0 10px;color:rgba(0,0,0,.9)", :href=>"#"} Play
        
    #info
      .toolbar 
        %h1 Game Info
      %h2 Players
      %ul.rounded.players
        %li.black
        %li.white
      %h2 Setup
      %ul.rounded.game
        %li.setup
      %h2 Captures
      %ul.rounded
        %li
          Black has captured
          %span.captured_whites
        %li
          White has captured
          %span.captured_blacks
          
    .move.history.this
      .toolbar 
        %h1
          %span.gravatar
          %span.playing
      .board.zoomout.scrub
        .dragger
          
    .move.history.that
      .toolbar 
        %h1
          %span.gravatar
          %span.playing
      .board.zoomout.scrub
        .dragger
    
    .move.play
      .toolbar 
        %h1
          %span.gravatar
          %span.playing
      .board.zoomout.scrub.pass.play
        .dragger