:javascript
  var game_new_helper = GO.game_new_helper();
  $(document).ready( function () {          
    $('#ajax_create').submit(function (e) {
      GO.submit(e, 
        function (data) { 
          GO.message('Invitations Sent', 'Your invitations have been sent. Check your email for a link to the new game. Thanks!');
        },
        function (data) { 
          GO.message('Invalid Invitation', 'Sorry, you cannot start a new game because: ' + data.responseText);
        }
      );
      return false;
    });
    game_new_helper.document_ready_hook();
  });    
#new.current
  .toolbar 
    %h1 New Game
  %form#ajax_create.form{:action=>url_for(:controller=>:game, :action=>:create), :method=>'POST'}
    %input{:type => 'hidden', :name => 'authenticity_token', :value => form_authenticity_token}
    %ul.edit.rounded
      %li.email
        .left
          %img{:src=>'/images/board/bowl/black.jpg', :height=>40, :width=>40}>
          %input.partial#black{:name=>'black', :placeholder=>"Black's email", :type=>'text'}/
        .gravatar.right
          %img{:src=>'/images/dot_clear.gif'}>
      %li.email
        .left
          %img{:src=>'/images/board/bowl/white.jpg', :height=>40, :width=>40}>
          %input.partial#white{:name=>'white', :placeholder=>"White's email", :type=>'text'}/
        .gravatar.right
          %img{:src=>'/images/dot_clear.gif'}>
      %li
        Size: 
        %select#dimension{:name=>'dimension'}
          - Board::DIMENSIONS.each do |dim|
            %option{:value=>dim} #{dim}x#{dim}
      %li
        Handicap:
        %select#handicap{:name=>'handicap'}
          %option{:value=>0} Black plays first
          %option{:value=>2} Two stones
          %option{:value=>3} Three stones
          %option{:value=>4} Four stones
          %option{:value=>5} Five stones
          %option{:value=>6} Six stones
          %option{:value=>7} Seven stones
          %option{:value=>8} Eight stones
          %option{:value=>9} Nine stones
    %a.submit.whiteButton{:style=>"margin:0 10px;color:rgba(0,0,0,.9)", :href=>"#"} Invite