-# game/show.html.haml
:javascript

#initial_board.current
  -# TODO: flip to history in another div
  .toolbar 
    %h1 Game #{@game.id}
    %a.back{:href=>"#"} Back
  %div.board{ :id => "game_#{@game.id}_move_0" }
    = render :partial => "board/board", :locals => { :board => @game.initial_board }
#settings
  -# list all game settings