// (c) 2010 Reg Braithwaite. All rights to the entirety of the program and its parts are reserved with 
// the exception of specific files otherwise licensed. Other licenses apply only to the files where
// they appear.

!!!Strict
%html{html_attrs('en').merge(:manifest=>"cache.manifest")}
  %head
  
    %title Wood and Stones
  
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black"}/
    %meta{:name=>"viewport", :content=>"user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"}/
      
    // their stuff
    
    %script{:src=>"j/jquery.1.4.2.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery-ui-1.8.2.resizeable.min.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery.timers-1.2.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/jqtouch.customized.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery.saveit.min.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/fold.js", :type=>"text/javascript", :charset=>"utf-8"}
    
    %script{:src=>"j/md5.js", :type=>"text/javascript", :charset=>"utf-8"}
    
    %script{:src=>"j/to-function.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/functional.js", :type=>"text/javascript", :charset=>"utf-8"}
    
    
    %script{:src=>"j/load_jqtouch.js", :type=>"text/javascript", :charset=>"utf-8"}
    
    // my open stuff
    
    %script{:src=>"j/igesture.jquery.mobile_safari.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery.combinators.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/jquery.predicates.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"j/dragscrollable.js", :type=>"text/javascript", :charset=>"utf-8"}
    
    // my proprietary stuff
    
    %script{:src=>"j/go.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/adjacency.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/referee.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/ui.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/more_ui.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/history.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/text.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/zobrist.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/orientation_hack.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/persistence.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"j/start.js", :type=>"text/javascript", :charset=>"utf-8"} 
    
    %style{:type=>"text/css", :media=>"screen"} @import "css/jqtouch.min.css";
    %style{:type=>"text/css", :media=>"screen"} @import "css/jqtouch.ipad.customized.css";
    %style{:type=>"text/css", :media=>"screen"} @import "css/application.css";
    %style{:type=>"text/css", :media=>"screen"} @import "css/board.ipad.css";
    %style{:type=>"text/css", :media=>"screen"} @import "css/bubbles.css";
    %style{:type=>"text/css", :media=>"screen"} @import "css/dark-hive/jquery-ui-1.8.2.custom.css";
    %style{:type=>"text/css", :media=>"screen"} @import "css/fold/fold.css";
    
    %style{:id=>'toolbar_titles'}
    %style{:id=>'bubbles'}
    
  %body
      
    %div#useful_stuff
      .ajax_load
        %img{:src=>'i/ajax-loader-black.gif',:height=>66,:width=>66}
        
    #new
      .toolbar 
        %h1 Start
        %a.button.help Help
      %form#form.new_game
        %ul.edit.rounded
          %h2 The Players
          %li.email
            %input#black{:name=>'black', :placeholder=>"Black's name", :type=>'text'}/
          %li.email
            %input#white{:name=>'white', :placeholder=>"White's name", :type=>'text'}/
          %h2 The Game
          %li.rules
            .label Rules:
            %select#rules{:name=>'rules'}
          %li.size
            .label Size: 
            %select#dimension{:name=>'dimension'}
          %li.setup
            .label Setup:
            %select#setup{:name=>'setup'}
        %a.whiteButton#start{:style=>"margin:0 10px;color:rgba(0,0,0,.9)", :href=>"#"} Play
        
    #info
      .toolbar 
        %a.back.button Play
        %h1 Game Info
    
      %h2 Players
      %ul.rounded.players
        %li.black
        %li.white
      %h2 Setup
      %ul.rounded.game
        %li.setup
      %h2 Captures
      %ul.rounded
        %li
          Black has captured
          %span.captured_whites
        %li
          White has captured
          %span.captured_blacks
      %h2 SGF
      %ul.rounded
        %li.sgf
          
    #splash.help.current
      .toolbar
        %h1 What is Wood and Stones?
      %ul.rounded
        %p
          Welcome to Wood and Stones, a web page that turns your iPad into a Goban, 
          a board used for playing a
          game of Go with another human player. Wood and Stones can also be used to
          play related games like Irensei.
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Play
        %li.forward
          %a{:href=>'#help'} More Help
          
    #help.help
      .toolbar
        %a.back.button Back
        %h1 Wood and Stones
      %h2 Help
      %ul.rounded
        %li.arrow
          %a{:href=>'#help_what_is_this'} What is Wood and Stones?
        %li.arrow
          %a{:href=>'#help_how_do_i'} How do I...
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
          
    #help_what_is_this.help
      .toolbar
        %a.back.button Back
        %h1 What is Wood and Stones?
        %a.button{:href=>'#help'} Index
      %ul.rounded
        %p
          Wood and Stones turns your iPad into a Goban, a board used for playing a
          game of Go with another human player. Wood and Stones can also be used to
          play related games like Irensei.
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
          
    #help_how_do_i.help
      .toolbar
        %a.back.button Back
        %h1 How do I...
        %a.button{:href=>'#help'} Index
      %ul.rounded
        %li.arrow
          %a{:href=>'#help_new_game'} Start a new game?
        %li.arrow
          %a{:href=>'#help_play_game'} Play a game?
        %li.arrow
          %a{:href=>'#help_end_game'} End a game?
        %li.arrow
          %a{:href=>'#help_review_game'} See what moves have already been played?
        %li.arrow
          %a{:href=>'#help_resume_game'} Save my game and play it later?
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
    
    / Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat magna nec elit venenatis ultrices. Donec quis lorem urna, sit amet ultricies nulla. Etiam egestas vestibulum tincidunt. Sed laoreet luctus magna. Nullam gravida tincidunt ipsum, eget tincidunt justo imperdiet sit amet. Donec eros lectus, vestibulum quis faucibus quis, tincidunt vitae eros. Nam fermentum tortor sit amet dolor eleifend id volutpat diam venenatis. Mauris dapibus semper justo, id tristique orci dignissim a. Mauris at sem dolor, a volutpat urna. Proin rutrum felis a erat fringilla nec dapibus diam fermentum.
        
    #help_new_game.help
      .toolbar
        %a.back.button Back
        %h1 Starting a new game
        %a.button{:href=>'#help'} Index
      %h2 Introduction
      %ul.rounded
        %p
          You can start a new game at any time by drawing a "+" with your finger on the screen. 
          You will be presented with the new game form where you can select your options.
      %h1 The Players
      %ul.rounded
        %p
          First, you
          enter the names of the players. You can leave these blank if you like, in which case they
          will be known as "Black" and "White."
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options'} Read about Game Options
    
    #help_new_game_game_options.help
      .toolbar
        %a.back.button Back
        %h1 Game Options
        %a.button{:href=>'#help'} Index
      %h2 Rules
      %ul.rounded
        %p
          You pick the rules first. There are lots of games for two players featuring black and white 
          stones on a lattice of intersections, and "Wood and Stones" lets you play lots of them with
          a friend.
      %h2 Size
      %ul.rounded
        %p
          Depending on the rules you choose, you may be offered a choice of board size from 9x9 up to 19x19.
          As a rough guide, larger boards offer more complex and subtle opportunities for play.
      %h2 Setups
      %ul.rounded
        %p
          Depending on the rules you choose, you may be offered a choice of ways to set the board up
          for the game. In some cases, these are fixed positions for one or more stones. These fixed
          positions might be handicaps for Black or they might be initial setups that wildly affect
          the character of the game.
        %p
          In some cases, these are opportunities for Black to have free placements before the game begins. 
          Unlike fixed handicaps, free placements provide Black with an opportunity to dictate the style of
          play.
        %p
          A few setups place stones randomly on the board. This helps to break games free from stereotypical
          opening play and rewards intuition over memorization.
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules'} Read about The Rules
          
    #help_new_game_game_options_rules.help    
      .toolbar
        %a.back.button Back
        %h1 The Rules
        %a.button{:href=>'#help'} Index
      %ul.rounded
        %li.arrow
          %a{:href=>'#help_new_game_game_options_rules_standard'} Classic, Free Placement, More Setups
        %li.arrow
          %a{:href=>'#help_new_game_game_options_rules_wtl'} White to Live
        %li.arrow
          %a{:href=>'#help_new_game_game_options_rules_atari'} Atari Go and Capture Five
        %li.arrow
          %a{:href=>'#help_new_game_game_options_rules_irensei'} Irensei
        %li.arrow
          %a{:href=>'#help_new_game_game_options_rules_gonnect'} Gonnect
        %li.arrow
          %a{:href=>'#help_new_game_game_options_rules_one_eye'} One Eye Go
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
          
    #help_new_game_game_options_rules_standard.help    
      .toolbar
        %a.back.button Back
        %h1 Classic, Free Placement, More Setups
        %a.button{:href=>'#help'} Index
      %h2 Description
      %ul.rounded
        %p
          The "Classic," "Free Placement," and "More Setups" rules are all the commonly played rules of Go.
          They differ only in the setups available. Only the most recently played move is considered for Ko.
          Suicide is not allowed, however if a placement would capture one or more stones, it need not have
          liberties. Wood and Stones does not score games, so it is up o the players how to count the territories.
      %h2 Classic Setups
      %ul.rounded
        %p
          The Classic setups are the traditional handicap options: Either Black plays first, or Black receives
          a handicap of two to nine stones and white plays first. Handicap stones are placed on the Hoshi
          points in the proscribed manner.
      %h2 Free Placement Setups
      %ul.rounded
        %p
          The Free Placement setups also offer Black the choice of playing first or receiving
          a handicap of two to nine stones and white playing first. However, instead of the handicap stones
          being placed on the Hoshi points, Black places them as he pleases. In effect, Back receives free
          turns at the beginning of the game. 
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules_more_setups'} Read about More Setups
          
    #help_new_game_game_options_rules_more_setups.help
      .toolbar
        %a.back.button Back
        %h1 More Setups
        %a.button{:href=>'#help'} Index
      %h2 Description
      %ul.rounded
        %p
          There are a number of variations of Go that use the exact same rules of play and scoring
          but use special setups. Some&#8212like Wild Fuseki&#8212produce subtly different games. 
          Others&#8212like Dots or Influence&#8212are dramatically unique playing experiences.
      %h2 Pie Rule
      %ul.rounded
        %p
          "Pie Rule" is a variation where Black places a single stone anywhere on the board, and White
          may either place a stone or pass. If White places a stone, the game continues as usual. If
          White passes, the players swap colours and the player who was originally Black now is White
          and places a white stone on the board. Pie Rule provides Black with a disincentive to play 
          too well or too poorly on the first turn, thus creating a very balanced game.
      %h2 Wild and Really Wild Fuseki
      %ul.rounded
        %p
          "Wild Fuseki" is a variation where the first three stones for each player are randomly selected,
          with the proviso that no stones are placed within two rows of any edge, no illegal position
          is created, and no stones are placed in atari. Really Wild Fuseki places the first twelve
          stones for each player. The effect of Wild Fuskeki is to reward intuition over memorization of
          opening patterns.
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules_influence'} Read about Influence Go
          
    #help_new_game_game_options_rules_influence.help
      .toolbar
        %a.back.button Back
        %h1 Influence Go
        %a.button{:href=>'#help'} Index
      %h2 Influence Go
      %ul.rounded
        %p
          %img{:src=>'i/about/influence.png'}
          Influence Go gives each player opposing edges of the board. This game usually involves a fight 
          to secure the center and establish a connection to your strong sides.
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules_sbc'} Read about more setups
          
    #help_new_game_game_options_rules_sbc.help
      .toolbar
        %a.back.button Back
        %h1 Dots, Sunjang Baduk and Classical Chinese
        %a.button{:href=>'#help'} Index
      %h2 Dots
      %ul.rounded
        %p
          %img{:src=>'i/about/dots.png'}
          Dots Go consists of stones on alternate intersections of the board. Games evolve very differently 
          than standard Go.
      %h2 Sunjang Baduk
      %ul.rounded
        %p
          Sunjang Baduk is an archaic Korean version of Go. There is a prescribed opening position, 
          and the scoring is a little different from Japanese or Chinese go. Even if you don't 
          care to play with different scoring, you might find games with the Sunjang Baduk opening 
          setup a refreshing change of pace.
      %h2 Classical Chinese
      %ul.rounded
        %p
          Classical Chinese Opening go players started each game with two stones each on corner Hoshi 
          points, leading to fighting. Classical Chinese rules were also different, however choosing 
          this option starts a standard game of Go with the Classical Chinese Opening.
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
          
    #help_new_game_game_options_rules_wtl.help
      .toolbar
        %a.back.button Back
        %h1 White to Live
        %a.button{:href=>'#help'} Index
      %h2 Description
      %ul.rounded
        %p
          The "White to Live" games all use the standard Go rules for play, however their objective is 
          different. In each game, Black is given an overwhelming advantage and White is hard-pressed
          to survive. White wins if he can make life, i.e. create a safe group with two eyes. Black
          wins instantly if he can remove all the white stones from the board. There are several different
          setups.
      %h2 Corner Go Setup
      %ul.rounded
        %p 
          %img{:src=>'i/about/corner.png'}
          Corner Go is a corner invasion exercise: Only one corner is available to White. Corner Go works 
          well on small boards.
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules_sgfp'} Read about Shape Go and Free Placements
          
    #help_new_game_game_options_rules_sgfp.help
      .toolbar
        %a.back.button Back
        %h1 Shape Go and Free Placements
        %a.button{:href=>'#help'} Index
      %h2 Shape Go Setup
      %ul.rounded
        %p 
          %img{:src=>'i/about/box.png'}
          Shape Go gives Black a line of stones all the way around the board, and White has to try to make 
          life with no corners or edges. Best on large boards.
      %h2 Free Placements
      %ul.rounded
        %p 
          You can also play where Black is given a large number of free placements and White simply tries to 
          survive. An even game is thought to be seventeen placements on a 19x19 board, however you can 
          choose more or fewer to establish a handicap. You may also choose a smaller board and fewer placements.
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
          
    #help_new_game_game_options_rules_atari.help
      .toolbar
        %a.back.button Back
        %h1 Atari Go
        %a.button{:href=>'#help'} Index
      %h2 Description
      %ul.rounded
        %p
          "Atari Go" is a teaching game that follows the standard rules of Go for play, however the objective
          is to be the first to make a capture, not to take territory. The setups for Atari Go are a series of progressive
          teaching exercises. When the student has progressed to playing the last exercise competently, he can
          move on to play "Capture Five," a game where the objective is to be the first to capture five or more stones.
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules_atari_ladders'} Read about Learn about ladders
          
          
    #help_new_game_game_options_rules_atari_ladders.help
      .toolbar
        %a.back.button Back
        %h1 Learn about ladders
        %a.button{:href=>'#help'} Index
      %h2 Setup
      %ul.rounded
        %p 
          %img{:src=>'i/about/ladder.png'}
        %p
          Atari Go's "Learn about ladders" sets up a classic "ladder" for Black. As soon as Black learns how to force White
          to surrender a stone, progress to "Learn about nets:"
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules_atari_nets'} Read about Learn about nets
          
    #help_new_game_game_options_rules_atari_nets.help
      .toolbar
        %a.back.button Back
        %h1 Learn about nets
        %a.button{:href=>'#help'} Index
      %h2 Setup
      %ul.rounded
        %p 
          %img{:src=>'i/about/net.png'}
        %p
          Atari Go's "Learn about nets" sets up a classic "net" for Black. As soon as Black learns how to force White
          to surrender a stone, progress to "Beat the Teacher:"
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules_atari_beat'} Read about Beat the Teacher
          
    #help_new_game_game_options_rules_atari_beat.help
      .toolbar
        %a.back.button Back
        %h1 Beat the Teacher
        %a.button{:href=>'#help'} Index
      %h2 Setup
      %ul.rounded
        %p 
          %img{:src=>'i/about/beat.png'}
        %p
          Atari Go's "Beat the Teacher" provides Black with a strong advantage but also provides White with several
          different opportunities to dictate the shape of play. Black should continue to play this
          variation until a stone can be captured no matter what line of defence White attempts.
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules_atari_cross'} Read about Cross-cutting
          
    #help_new_game_game_options_rules_atari_cross.help
      .toolbar
        %a.back.button Back
        %h1 Cross-cutting
        %a.button{:href=>'#help'} Index
      %h2 Setup
      %ul.rounded
        %p 
          %img{:src=>'i/about/cross.png'}
        %p
          Atari Go's "Cross-cutting" is an almost perfectly balanced setup that mimics a common pattern in Go
          games. Mistakes by either player will lead to a loss. Continue to play "Cross-cutting" until
          draws are commonplace, then progress to "Capture Five."
      %h2 Next
      %ul.individual
        %li.resume_play
          %a.flip.resume_play Resume Play
        %li.forward
          %a{:href=>'#help_new_game_game_options_rules_capture_five'} Read about Capture Five
          
    #help_new_game_game_options_rules_capture_five.help
      .toolbar
        %a.back.button Back
        %h1 Capture Five
        %a.button{:href=>'#help'} Index
      %h2 Winning Conditions
      %ul.rounded
        %p
          In "Capture Five," the winner is the first player to capture
          %i five
          or more stones. This encourages both players to consider sacrificing stones to obtain an
          advantage, tempting the opponent to abandon a strong defensive style.
      %h2 Setup
      %ul.rounded
        %p 
          %img{:src=>'i/about/cross.png'}
        %p
          Capture Five uses the same balanced setup as "Cross-cutting."
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
      
    #help_new_game_game_options_rules_irensei.help
      .toolbar
        %a.back.button Back
        %h1 Irensei
        %a.button{:href=>'#help'} Index
      %h2 Description
      %ul.rounded
        %p
          "Irensei" is a game with standard Go rules, however captures and territory are irrelevant 
          to scoring. The winner is the first player to make an unbroken line of seven stones in 
          a row, although a line with stones within two intersections of the edge does not count. 
          Black plays first, and to counter this advantage there is a special rule that black 
          loses if he makes a line of eight or more stones. White can make a line of any length.
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
          
    #help_new_game_game_options_rules_gonnect.help
      .toolbar
        %a.back.button Back
        %h1 Gonnect
      %h2 Description
      %ul.rounded
        %p
          In Gonnect, the winner is the first to connect either pair of opposite sides of the board 
          with a single group, or a player loses when he has no legal move available. Passing is not 
          allowed. This difference from normal Go is crucial, as it prevents a deadlock where neither 
          player can connect: each player must eventually fill in their territory until they are 
          vulnerable to capture or have no legal moves available.
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
          
    #help_new_game_game_options_rules_one_eye.help
      .toolbar
        %a.back.button Back
        %h1 One Eyed Go
        %a.button{:href=>'#help'} Index
      %h2 Description
      %ul.rounded
        %p
          One Eyed Go is just like classic Go, however suicide is never allowed, even if your play 
          would otherwise capture stones. One consequence of this simplification of the rules is 
          that a single eye is enough to make a group safe.
      %ul.rounded
        %li.resume_play
          %a.flip.resume_play Resume Play
      
    #help_resume_game.help
      .toolbar
        %a.back.button Back
        %h1 Resuming a game
        %a.button{:href=>'#help'} Index
      .info Lorem Ipsum
        
    #help_play_game.help.help
      .toolbar
        %a.back.button Back
        %h1 Playing a game
        %a.button{:href=>'#help'} Index
      .info Lorem Ipsum
        
    #help_end_game.help
      .toolbar
        %a.back.button Back
        %h1 Ending a game
        %a.button{:href=>'#help'} Index
      .info Lorem Ipsum
        
    #help_review_game.help
      .toolbar
        %a.back.button Back
        %h1 Reviewing a game
        %a.button{:href=>'#help'} Index
      .info Lorem Ipsum
        
    .move.history.this
      .toolbar 
        %h1
          %span.playing
      .board.zoomout
        .intersections
          
    .move.history.that
      .toolbar 
        %h1
      .board.zoomout
        .intersections
    
    .move.play#play
      .head
        .toolbar
          %h1
          %a.button.flip{:href=>'#help'} Help
      .board.zoomout.scrub.pass.play
        .head 
          .guest.black.captured
        .intersections
        .foot
          .guest.black.captured
          .host.white.captured
      .foot
        .toolbar
          %h1