-# action/move/show.html.haml

%div{ :id => "game_#{@move.game.id}_move_#{@move.cardinality}" }
  -# TODO: flip to history in another div
  .toolbar 
    %h1 Move #{@move.cardinality}
    %a.back{:href=>"#"} Back
  .board
    - board = @move.after
    - (0..(board.dimension - 1)).each do |down|
      .row
        - (0..(board.dimension - 1)).each do |across|
          - location = board[across][down]
          %img{ :src => tile_path(location) }>