.invisible {
  visibility: hidden; }

.slideback.in {
  -webkit-animation-name: slideinfromleft; }

.slideback.out {
  -webkit-animation-name: slideouttoright; }

.slideback.in.reverse {
  -webkit-animation-name: slideouttoright; }

.slideback.out.reverse {
  -webkit-animation-name: slideinfromleft; }

.in_progress:before {
  content: url(../i/in_progress.gif); }

.profile .foot.toolbar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg); }

.landscape .foot.toolbar {
  display: none; }

.head.bubble {
  margin-left: -200px; }

.foot.bubble {
  margin-left: 0;
  /* NOTE: webkit gradient implementation is not as per spec */
  background: -webkit-gradient(linear, left top, left bottom, from(#f9d835), to(#f3961c));
  background: -moz-linear-gradient(top, #f9d835, #f3961c);
  background: -o-linear-gradient(top, #f9d835, #f3961c);
  background: linear-gradient(top, #f9d835, #f3961c); }
  .foot.bubble:after {
    top: -30px;
    /* value = - border-top-width - border-bottom-width */
    right: 50px;
    /* controls horizontal position */
    bottom: auto;
    left: auto;
    border-color: transparent transparent #f9d835; }

.message {
  width: 200px;
  overflow: hidden;
  position: relative;
  left: 50%; }
  .message .bubble {
    margin-bottom: 1em; }

.bubble {
  /* #f3961c */
  /* #f9d835 */
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: black;
  background: #f9d835;
  /* default background for browsers without gradient support */
  /* css3 */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* NOTE: webkit gradient implementation is not as per spec */
  background: -webkit-gradient(linear, left top, left bottom, from(#f3961c), to(#f9d835));
  background: -moz-linear-gradient(top, #f3961c, #f9d835);
  background: -o-linear-gradient(top, #f3961c, #f9d835);
  background: linear-gradient(top, #f3961c, #f9d835); }
  .bubble:after {
    content: "\00a0";
    display: block;
    /* reduce the damage in FF3.0 */
    position: absolute;
    z-index: -1;
    bottom: -30px;
    /* value = - border-top-width - border-bottom-width */
    left: 50px;
    /* controls horizontal position */
    width: 0;
    height: 0;
    border-width: 15px 15px;
    /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: #f9d835 transparent transparent; }

.new_game ul li {
  position: relative !important; }
  .new_game ul li .label {
    position: absolute;
    left: 10px; }
.new_game .email {
  height: 40px !important; }
.new_game .size {
  padding-left: 70px !important; }
.new_game .you_play {
  padding-left: 100px !important; }
  .new_game .you_play .toggle {
    display: block;
    position: relative;
    float: right; }
    .new_game .you_play .toggle input[type="checkbox"] {
      background: white url(../i/black_white.png) 0 0 no-repeat !important; }
.new_game .setup {
  padding-left: 80px !important; }
.new_game .rules {
  padding-left: 80px !important; }

.move .toolbar .button img {
  margin-top: 5px; }

.progress .ui-dialog-titlebar {
  display: none; }

.iconButton {
  float: right; }
