.invisible {
  visibility: hidden; }

.slideback.in {
  -webkit-animation-name: slideinfromleft; }

.slideback.out {
  -webkit-animation-name: slideouttoright; }

.slideback.in.reverse {
  -webkit-animation-name: slideouttoright; }

.slideback.out.reverse {
  -webkit-animation-name: slideinfromleft; }


.center {
  margin-left: auto;
  margin-right: auto; }

.new_game ul li {
  position: relative !important; }
  .new_game ul li .label {
    position: absolute;
    left: 10px; }
.new_game .email {
  height: 40px       !important;
  padding-left: 60px !important; }
  .new_game .email img {
    position: absolute;
    left: 10px; }
.new_game .size {
  padding-left: 70px !important; }
.new_game .you_play {
  padding-left: 100px !important; }
  .new_game .you_play .iPhoneCheckContainer {
    display: block;
    position: relative;
    float: right; }
.new_game .handicap {
  padding-left: 110px !important; }
