.row {
	height: 30px;
}
.message {
	font-size: 1.5em; 
	text-align: center; 
	margin: 160px 0 160px; 
	font-family: Marker felt;
}
.invisible {
	visibility:hidden;
}
.slideback.in           { -webkit-animation-name: slideinfromleft; }
.slideback.out          { -webkit-animation-name: slideouttoright; }
.slideback.in.reverse   { -webkit-animation-name: slideouttoright; }
.slideback.out.reverse  { -webkit-animation-name: slideinfromleft; }