.board .top.left.black {
  background: url('/images/board/temporary/tile1nw.png'); }
  .board .top.left.black.valid {
    background: url('/images/board/temporary/tile1nwl.png') !important; }
.board .top.left.white {
  background: url('/images/board/temporary/tile2nw.png'); }
  .board .top.left.white.valid {
    background: url('/images/board/temporary/tile2nwl.png') !important; }
.board .top.left.empty {
  background: url('/images/board/temporary/tile0nw.png'); }
.board .top.right.black {
  background: url('/images/board/temporary/tile1ne.png'); }
  .board .top.right.black.valid {
    background: url('/images/board/temporary/tile1nel.png') !important; }
.board .top.right.white {
  background: url('/images/board/temporary/tile2ne.png'); }
  .board .top.right.white.valid {
    background: url('/images/board/temporary/tile2nel.png') !important; }
.board .top.right.empty {
  background: url('/images/board/temporary/tile0ne.png'); }
.board .bottom.left.black {
  background: url('/images/board/temporary/tile1sw.png'); }
  .board .bottom.left.black.valid {
    background: url('/images/board/temporary/tile1swl.png') !important; }
.board .bottom.left.white {
  background: url('/images/board/temporary/tile2sw.png'); }
  .board .bottom.left.white.valid {
    background: url('/images/board/temporary/tile2swl.png') !important; }
.board .bottom.left.empty {
  background: url('/images/board/temporary/tile0sw.png'); }
.board .bottom.right.black {
  background: url('/images/board/temporary/tile1se.png'); }
  .board .bottom.right.black.valid {
    background: url('/images/board/temporary/tile1sel.png') !important; }
.board .bottom.right.white {
  background: url('/images/board/temporary/tile2se.png'); }
  .board .bottom.right.white.valid {
    background: url('/images/board/temporary/tile2sel.png') !important; }
.board .bottom.right.empty {
  background: url('/images/board/temporary/tile0se.png'); }
.board .top.middle.black {
  background: url('/images/board/temporary/tile1n.png'); }
  .board .top.middle.black.valid {
    background: url('/images/board/temporary/tile1nl.png') !important; }
.board .top.middle.white {
  background: url('/images/board/temporary/tile2n.png'); }
  .board .top.middle.white.valid {
    background: url('/images/board/temporary/tile2nl.png') !important; }
.board .top.middle.empty {
  background: url('/images/board/temporary/tile0n.png'); }
.board .left.middle.black {
  background: url('/images/board/temporary/tile1w.png'); }
  .board .left.middle.black.valid {
    background: url('/images/board/temporary/tile1wl.png') !important; }
.board .left.middle.white {
  background: url('/images/board/temporary/tile2w.png'); }
  .board .left.middle.white.valid {
    background: url('/images/board/temporary/tile2wl.png') !important; }
.board .left.middle.empty {
  background: url('/images/board/temporary/tile0w.png'); }
.board .bottom.middle.black {
  background: url('/images/board/temporary/tile1s.png'); }
  .board .bottom.middle.black.valid {
    background: url('/images/board/temporary/tile1sl.png') !important; }
.board .bottom.middle.white {
  background: url('/images/board/temporary/tile2s.png'); }
  .board .bottom.middle.white.valid {
    background: url('/images/board/temporary/tile2sl.png') !important; }
.board .bottom.middle.empty {
  background: url('/images/board/temporary/tile0s.png'); }
.board .right.middle.black {
  background: url('/images/board/temporary/tile1e.png'); }
  .board .right.middle.black.valid {
    background: url('/images/board/temporary/tile1el.png') !important; }
.board .right.middle.white {
  background: url('/images/board/temporary/tile2e.png'); }
  .board .right.middle.white.valid {
    background: url('/images/board/temporary/tile2el.png') !important; }
.board .right.middle.empty {
  background: url('/images/board/temporary/tile0e.png'); }
.board .interior.black {
  background: url('/images/board/temporary/tile1.png'); }
  .board .interior.black.valid {
    background: url('/images/board/temporary/tile1l.png') !important; }
.board .interior.white {
  background: url('/images/board/temporary/tile2.png'); }
  .board .interior.white.valid {
    background: url('/images/board/temporary/tile2l.png') !important; }
.board .interior.empty {
  background: url('/images/board/temporary/tile0.png'); }
.board .star.black {
  background: url('/images/board/temporary/tile1.png'); }
  .board .star.black.valid {
    background: url('/images/board/temporary/tile1l.png') !important; }
.board .star.white {
  background: url('/images/board/temporary/tile2.png'); }
  .board .star.white.valid {
    background: url('/images/board/temporary/tile2l.png') !important; }
.board .star.empty {
  background: url('/images/board/temporary/tile0c.png'); }
.board .star.valid {
  background: url('/images/board/temporary/tile0c.png'); }

.active .board .valid {
  cursor: pointer; }

.move .actions .send {
  display: none; }

.move.active .actions .send {
  display: inline !important; }
