.board.size19.zoomin {
  width: 270px;
  height: 270px; }
  .board.size19.zoomin .row {
    height: 30px;
    width: 570px; }
    .board.size19.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size19.zoomout {
  width: 266px;
  height: 266px; }
  .board.size19.zoomout .row {
    height: 14px;
    width: 266px; }
    .board.size19.zoomout .row img {
      height: 14px;
      width: 14px; }

.board.size17.zoomin {
  width: 270px;
  height: 270px; }
  .board.size17.zoomin .row {
    height: 30px;
    width: 510px; }
    .board.size17.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size17.zoomout {
  width: 255px;
  height: 255px; }
  .board.size17.zoomout .row {
    height: 15px;
    width: 255px; }
    .board.size17.zoomout .row img {
      height: 15px;
      width: 15px; }

.board.size15.zoomin {
  width: 270px;
  height: 270px; }
  .board.size15.zoomin .row {
    height: 30px;
    width: 450px; }
    .board.size15.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size15.zoomout {
  width: 270px;
  height: 270px; }
  .board.size15.zoomout .row {
    height: 18px;
    width: 270px; }
    .board.size15.zoomout .row img {
      height: 18px;
      width: 18px; }

.board.size13.zoomin {
  width: 270px;
  height: 270px; }
  .board.size13.zoomin .row {
    height: 30px;
    width: 390px; }
    .board.size13.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size13.zoomout {
  width: 260px;
  height: 260px; }
  .board.size13.zoomout .row {
    height: 20px;
    width: 260px; }
    .board.size13.zoomout .row img {
      height: 20px;
      width: 20px; }

.board.size11.zoomin {
  width: 270px;
  height: 270px; }
  .board.size11.zoomin .row {
    height: 30px;
    width: 330px; }
    .board.size11.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size11.zoomout {
  width: 264px;
  height: 264px; }
  .board.size11.zoomout .row {
    height: 24px;
    width: 264px; }
    .board.size11.zoomout .row img {
      height: 24px;
      width: 24px; }

.board.size9.zoomin {
  width: 270px;
  height: 270px; }
  .board.size9.zoomin .row {
    height: 30px;
    width: 270px; }
    .board.size9.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size9.zoomout {
  width: 270px;
  height: 270px; }
  .board.size9.zoomout .row {
    height: 30px;
    width: 270px; }
    .board.size9.zoomout .row img {
      height: 30px;
      width: 30px; }

.board {
  overflow: hidden;
  position: relative;
  left: 50%;
  margin-left: -135px;
  margin-top: 10px; }
  .board .dragger {
    position: relative;
    background: black; }
  .board .intersection {
    display: inline-block; }
  .board .row .top.left.black {
    background: url('/images/board/temporary/tile1nw.png'); }
    .board .row .top.left.black.valid {
      background: url('/images/board/temporary/tile1nwd.png') !important; }
    .board .row .top.left.black.last.latest {
      background: url('/images/board/temporary/tile1nwd.png') !important; }
  .board .row .top.left.white {
    background: url('/images/board/temporary/tile2nw.png'); }
    .board .row .top.left.white.valid {
      background: url('/images/board/temporary/tile2nwd.png') !important; }
    .board .row .top.left.white.last.latest {
      background: url('/images/board/temporary/tile2nwd.png') !important; }
  .board .row .top.left.empty {
    background: url('/images/board/temporary/tile0nw.png'); }
  .board .row .top.right.black {
    background: url('/images/board/temporary/tile1ne.png'); }
    .board .row .top.right.black.valid {
      background: url('/images/board/temporary/tile1ned.png') !important; }
    .board .row .top.right.black.last.latest {
      background: url('/images/board/temporary/tile1ned.png') !important; }
  .board .row .top.right.white {
    background: url('/images/board/temporary/tile2ne.png'); }
    .board .row .top.right.white.valid {
      background: url('/images/board/temporary/tile2ned.png') !important; }
    .board .row .top.right.white.last.latest {
      background: url('/images/board/temporary/tile2ned.png') !important; }
  .board .row .top.right.empty {
    background: url('/images/board/temporary/tile0ne.png'); }
  .board .row .bottom.left.black {
    background: url('/images/board/temporary/tile1sw.png'); }
    .board .row .bottom.left.black.valid {
      background: url('/images/board/temporary/tile1swd.png') !important; }
    .board .row .bottom.left.black.last.latest {
      background: url('/images/board/temporary/tile1swd.png') !important; }
  .board .row .bottom.left.white {
    background: url('/images/board/temporary/tile2sw.png'); }
    .board .row .bottom.left.white.valid {
      background: url('/images/board/temporary/tile2swd.png') !important; }
    .board .row .bottom.left.white.last.latest {
      background: url('/images/board/temporary/tile2swd.png') !important; }
  .board .row .bottom.left.empty {
    background: url('/images/board/temporary/tile0sw.png'); }
  .board .row .bottom.right.black {
    background: url('/images/board/temporary/tile1se.png'); }
    .board .row .bottom.right.black.valid {
      background: url('/images/board/temporary/tile1sed.png') !important; }
    .board .row .bottom.right.black.last.latest {
      background: url('/images/board/temporary/tile1sed.png') !important; }
  .board .row .bottom.right.white {
    background: url('/images/board/temporary/tile2se.png'); }
    .board .row .bottom.right.white.valid {
      background: url('/images/board/temporary/tile2sed.png') !important; }
    .board .row .bottom.right.white.last.latest {
      background: url('/images/board/temporary/tile2sed.png') !important; }
  .board .row .bottom.right.empty {
    background: url('/images/board/temporary/tile0se.png'); }
  .board .row .top.middle.black {
    background: url('/images/board/temporary/tile1n.png'); }
    .board .row .top.middle.black.valid {
      background: url('/images/board/temporary/tile1nd.png') !important; }
    .board .row .top.middle.black.last.latest {
      background: url('/images/board/temporary/tile1nd.png') !important; }
  .board .row .top.middle.white {
    background: url('/images/board/temporary/tile2n.png'); }
    .board .row .top.middle.white.valid {
      background: url('/images/board/temporary/tile2nd.png') !important; }
    .board .row .top.middle.white.last.latest {
      background: url('/images/board/temporary/tile2nd.png') !important; }
  .board .row .top.middle.empty {
    background: url('/images/board/temporary/tile0n.png'); }
  .board .row .left.middle.black {
    background: url('/images/board/temporary/tile1w.png'); }
    .board .row .left.middle.black.valid {
      background: url('/images/board/temporary/tile1wd.png') !important; }
    .board .row .left.middle.black.last.latest {
      background: url('/images/board/temporary/tile1wd.png') !important; }
  .board .row .left.middle.white {
    background: url('/images/board/temporary/tile2w.png'); }
    .board .row .left.middle.white.valid {
      background: url('/images/board/temporary/tile2wd.png') !important; }
    .board .row .left.middle.white.last.latest {
      background: url('/images/board/temporary/tile2wd.png') !important; }
  .board .row .left.middle.empty {
    background: url('/images/board/temporary/tile0w.png'); }
  .board .row .bottom.middle.black {
    background: url('/images/board/temporary/tile1s.png'); }
    .board .row .bottom.middle.black.valid {
      background: url('/images/board/temporary/tile1sd.png') !important; }
    .board .row .bottom.middle.black.last.latest {
      background: url('/images/board/temporary/tile1sd.png') !important; }
  .board .row .bottom.middle.white {
    background: url('/images/board/temporary/tile2s.png'); }
    .board .row .bottom.middle.white.valid {
      background: url('/images/board/temporary/tile2sd.png') !important; }
    .board .row .bottom.middle.white.last.latest {
      background: url('/images/board/temporary/tile2sd.png') !important; }
  .board .row .bottom.middle.empty {
    background: url('/images/board/temporary/tile0s.png'); }
  .board .row .right.middle.black {
    background: url('/images/board/temporary/tile1e.png'); }
    .board .row .right.middle.black.valid {
      background: url('/images/board/temporary/tile1ed.png') !important; }
    .board .row .right.middle.black.last.latest {
      background: url('/images/board/temporary/tile1ed.png') !important; }
  .board .row .right.middle.white {
    background: url('/images/board/temporary/tile2e.png'); }
    .board .row .right.middle.white.valid {
      background: url('/images/board/temporary/tile2ed.png') !important; }
    .board .row .right.middle.white.last.latest {
      background: url('/images/board/temporary/tile2ed.png') !important; }
  .board .row .right.middle.empty {
    background: url('/images/board/temporary/tile0e.png'); }
  .board .row .interior.black {
    background: url('/images/board/temporary/tile1.png'); }
    .board .row .interior.black.valid {
      background: url('/images/board/temporary/tile1d.png') !important; }
    .board .row .interior.black.last.latest {
      background: url('/images/board/temporary/tile1d.png') !important; }
  .board .row .interior.white {
    background: url('/images/board/temporary/tile2.png'); }
    .board .row .interior.white.valid {
      background: url('/images/board/temporary/tile2d.png') !important; }
    .board .row .interior.white.last.latest {
      background: url('/images/board/temporary/tile2d.png') !important; }
  .board .row .interior.empty {
    background: url('/images/board/temporary/tile0.png'); }
  .board .row .star.black {
    background: url('/images/board/temporary/tile1.png'); }
    .board .row .star.black.valid {
      background: url('/images/board/temporary/tile1d.png') !important; }
    .board .row .star.black.last.latest {
      background: url('/images/board/temporary/tile1d.png') !important; }
  .board .row .star.white {
    background: url('/images/board/temporary/tile2.png'); }
    .board .row .star.white.valid {
      background: url('/images/board/temporary/tile2d.png') !important; }
    .board .row .star.white.last.latest {
      background: url('/images/board/temporary/tile2d.png') !important; }
  .board .row .star.empty {
    background: url('/images/board/temporary/tile0c.png'); }
  .board .row .star.valid {
    BEFORE: URL('/images/board/temporary/tile0c.png'); }

.playing .board .valid {
  cursor: pointer; }

.move .actions .send {
  display: none; }

.move.playing .actions .send {
  display: inline !important; }

.intersection {
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  -khtml-background-size: 100%;
  -moz-background-size: 100%; }
