- playing_text ||= ''
- back = false if back.nil?
- info = true if info.nil?
.toolbar 
  -if back
    %a.back{:href=>'#'} Back
  %h1
    %span.gravatar
    %span.playing= playing_text
  %span#heyButton<
    %img{:height=>30, :width=>30, :src=>'/images/tools/empty-text-green.png'}/