.board.size19.zoomin {
  width: 270px;
  height: 270px; }
  .board.size19.zoomin .row {
    height: 30px;
    width: 570px; }
    .board.size19.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size19.zoomout {
  width: 266px;
  height: 266px; }
  .board.size19.zoomout .row {
    height: 14px;
    width: 266px; }
    .board.size19.zoomout .row img {
      height: 14px;
      width: 14px; }

.board.size17.zoomin {
  width: 270px;
  height: 270px; }
  .board.size17.zoomin .row {
    height: 30px;
    width: 510px; }
    .board.size17.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size17.zoomout {
  width: 255px;
  height: 255px; }
  .board.size17.zoomout .row {
    height: 15px;
    width: 255px; }
    .board.size17.zoomout .row img {
      height: 15px;
      width: 15px; }

.board.size15.zoomin {
  width: 270px;
  height: 270px; }
  .board.size15.zoomin .row {
    height: 30px;
    width: 450px; }
    .board.size15.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size15.zoomout {
  width: 270px;
  height: 270px; }
  .board.size15.zoomout .row {
    height: 18px;
    width: 270px; }
    .board.size15.zoomout .row img {
      height: 18px;
      width: 18px; }

.board.size13.zoomin {
  width: 270px;
  height: 270px; }
  .board.size13.zoomin .row {
    height: 30px;
    width: 390px; }
    .board.size13.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size13.zoomout {
  width: 260px;
  height: 260px; }
  .board.size13.zoomout .row {
    height: 20px;
    width: 260px; }
    .board.size13.zoomout .row img {
      height: 20px;
      width: 20px; }

.board.size11.zoomin {
  width: 270px;
  height: 270px; }
  .board.size11.zoomin .row {
    height: 30px;
    width: 330px; }
    .board.size11.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size11.zoomout {
  width: 264px;
  height: 264px; }
  .board.size11.zoomout .row {
    height: 24px;
    width: 264px; }
    .board.size11.zoomout .row img {
      height: 24px;
      width: 24px; }

.board.size9.zoomin {
  width: 270px;
  height: 270px; }
  .board.size9.zoomin .row {
    height: 30px;
    width: 270px; }
    .board.size9.zoomin .row img {
      height: 30px;
      width: 30px; }
.board.size9.zoomout {
  width: 270px;
  height: 270px; }
  .board.size9.zoomout .row {
    height: 30px;
    width: 270px; }
    .board.size9.zoomout .row img {
      height: 30px;
      width: 30px; }

.board {
  overflow: hidden;
  position: relative;
  left: 50%;
  margin-left: -135px;
  margin-top: 10px; }
  .board .dragger {
    position: relative;
    background: black; }
  .board .intersection {
    display: inline-block; }
  .board .row:first-child .intersection:first-child.black {
    background: url('../i/board/temporary/tile1nw.png'); }
    .board .row:first-child .intersection:first-child.black.valid {
      background: url('../i/board/temporary/tile1nwd.png') !important; }
    .board .row:first-child .intersection:first-child.black.last.latest {
      background: url('../i/board/temporary/tile1nwd.png') !important; }
  .board .row:first-child .intersection:first-child.white {
    background: url('../i/board/temporary/tile2nw.png'); }
    .board .row:first-child .intersection:first-child.white.valid {
      background: url('../i/board/temporary/tile2nwd.png') !important; }
    .board .row:first-child .intersection:first-child.white.last.latest {
      background: url('../i/board/temporary/tile2nwd.png') !important; }
  .board .row:first-child .intersection:first-child:not(.black):not(.white) {
    background: url('../i/board/temporary/tile0nw.png'); }
  .board .row:first-child .intersection:not(:first-child):not(:last-child).black {
    background: url('../i/board/temporary/tile1n.png'); }
    .board .row:first-child .intersection:not(:first-child):not(:last-child).black.valid {
      background: url('../i/board/temporary/tile1nd.png') !important; }
    .board .row:first-child .intersection:not(:first-child):not(:last-child).black.last.latest {
      background: url('../i/board/temporary/tile1nd.png') !important; }
  .board .row:first-child .intersection:not(:first-child):not(:last-child).white {
    background: url('../i/board/temporary/tile2n.png'); }
    .board .row:first-child .intersection:not(:first-child):not(:last-child).white.valid {
      background: url('../i/board/temporary/tile2nd.png') !important; }
    .board .row:first-child .intersection:not(:first-child):not(:last-child).white.last.latest {
      background: url('../i/board/temporary/tile2nd.png') !important; }
  .board .row:first-child .intersection:not(:first-child):not(:last-child):not(.black):not(.white) {
    background: url('../i/board/temporary/tile0n.png'); }
  .board .row:first-child .intersection:last-child.black {
    background: url('../i/board/temporary/tile1ne.png'); }
    .board .row:first-child .intersection:last-child.black.valid {
      background: url('../i/board/temporary/tile1ned.png') !important; }
    .board .row:first-child .intersection:last-child.black.last.latest {
      background: url('../i/board/temporary/tile1ned.png') !important; }
  .board .row:first-child .intersection:last-child.white {
    background: url('../i/board/temporary/tile2ne.png'); }
    .board .row:first-child .intersection:last-child.white.valid {
      background: url('../i/board/temporary/tile2ned.png') !important; }
    .board .row:first-child .intersection:last-child.white.last.latest {
      background: url('../i/board/temporary/tile2ned.png') !important; }
  .board .row:first-child .intersection:last-child:not(.black):not(.white) {
    background: url('../i/board/temporary/tile0ne.png'); }
  .board .row:not(:first-child):not(:last-child) .intersection:first-child.black {
    background: url('../i/board/temporary/tile1w.png'); }
    .board .row:not(:first-child):not(:last-child) .intersection:first-child.black.valid {
      background: url('../i/board/temporary/tile1wd.png') !important; }
    .board .row:not(:first-child):not(:last-child) .intersection:first-child.black.last.latest {
      background: url('../i/board/temporary/tile1wd.png') !important; }
  .board .row:not(:first-child):not(:last-child) .intersection:first-child.white {
    background: url('../i/board/temporary/tile2w.png'); }
    .board .row:not(:first-child):not(:last-child) .intersection:first-child.white.valid {
      background: url('../i/board/temporary/tile2wd.png') !important; }
    .board .row:not(:first-child):not(:last-child) .intersection:first-child.white.last.latest {
      background: url('../i/board/temporary/tile2wd.png') !important; }
  .board .row:not(:first-child):not(:last-child) .intersection:first-child:not(.black):not(.white) {
    background: url('../i/board/temporary/tile0w.png'); }
  .board .row:not(:first-child):not(:last-child) .intersection:not(:first-child):not(:last-child).black {
    background: url('../i/board/temporary/tile1.png'); }
    .board .row:not(:first-child):not(:last-child) .intersection:not(:first-child):not(:last-child).black.valid {
      background: url('../i/board/temporary/tile1d.png') !important; }
    .board .row:not(:first-child):not(:last-child) .intersection:not(:first-child):not(:last-child).black.last.latest {
      background: url('../i/board/temporary/tile1d.png') !important; }
  .board .row:not(:first-child):not(:last-child) .intersection:not(:first-child):not(:last-child).white {
    background: url('../i/board/temporary/tile2.png'); }
    .board .row:not(:first-child):not(:last-child) .intersection:not(:first-child):not(:last-child).white.valid {
      background: url('../i/board/temporary/tile2d.png') !important; }
    .board .row:not(:first-child):not(:last-child) .intersection:not(:first-child):not(:last-child).white.last.latest {
      background: url('../i/board/temporary/tile2d.png') !important; }
  .board .row:not(:first-child):not(:last-child) .intersection:last-child.black {
    background: url('../i/board/temporary/tile1e.png'); }
    .board .row:not(:first-child):not(:last-child) .intersection:last-child.black.valid {
      background: url('../i/board/temporary/tile1ed.png') !important; }
    .board .row:not(:first-child):not(:last-child) .intersection:last-child.black.last.latest {
      background: url('../i/board/temporary/tile1ed.png') !important; }
  .board .row:not(:first-child):not(:last-child) .intersection:last-child.white {
    background: url('../i/board/temporary/tile2e.png'); }
    .board .row:not(:first-child):not(:last-child) .intersection:last-child.white.valid {
      background: url('../i/board/temporary/tile2ed.png') !important; }
    .board .row:not(:first-child):not(:last-child) .intersection:last-child.white.last.latest {
      background: url('../i/board/temporary/tile2ed.png') !important; }
  .board .row:not(:first-child):not(:last-child) .intersection:last-child:not(.black):not(.white) {
    background: url('../i/board/temporary/tile0e.png'); }
  .board .row:last-child .intersection:first-child.black {
    background: url('../i/board/temporary/tile1sw.png'); }
    .board .row:last-child .intersection:first-child.black.valid {
      background: url('../i/board/temporary/tile1swd.png') !important; }
    .board .row:last-child .intersection:first-child.black.last.latest {
      background: url('../i/board/temporary/tile1swd.png') !important; }
  .board .row:last-child .intersection:first-child.white {
    background: url('../i/board/temporary/tile2sw.png'); }
    .board .row:last-child .intersection:first-child.white.valid {
      background: url('../i/board/temporary/tile2swd.png') !important; }
    .board .row:last-child .intersection:first-child.white.last.latest {
      background: url('../i/board/temporary/tile2swd.png') !important; }
  .board .row:last-child .intersection:first-child:not(.black):not(.white) {
    background: url('../i/board/temporary/tile0sw.png'); }
  .board .row:last-child .intersection:not(:first-child):not(:last-child).black {
    background: url('../i/board/temporary/tile1s.png'); }
    .board .row:last-child .intersection:not(:first-child):not(:last-child).black.valid {
      background: url('../i/board/temporary/tile1sd.png') !important; }
    .board .row:last-child .intersection:not(:first-child):not(:last-child).black.last.latest {
      background: url('../i/board/temporary/tile1sd.png') !important; }
  .board .row:last-child .intersection:not(:first-child):not(:last-child).white {
    background: url('../i/board/temporary/tile2s.png'); }
    .board .row:last-child .intersection:not(:first-child):not(:last-child).white.valid {
      background: url('../i/board/temporary/tile2sd.png') !important; }
    .board .row:last-child .intersection:not(:first-child):not(:last-child).white.last.latest {
      background: url('../i/board/temporary/tile2sd.png') !important; }
  .board .row:last-child .intersection:not(:first-child):not(:last-child):not(.black):not(.white) {
    background: url('../i/board/temporary/tile0s.png'); }
  .board .row:last-child .intersection:last-child.black {
    background: url('../i/board/temporary/tile1se.png'); }
    .board .row:last-child .intersection:last-child.black.valid {
      background: url('../i/board/temporary/tile1sed.png') !important; }
    .board .row:last-child .intersection:last-child.black.last.latest {
      background: url('../i/board/temporary/tile1sed.png') !important; }
  .board .row:last-child .intersection:last-child.white {
    background: url('../i/board/temporary/tile2se.png'); }
    .board .row:last-child .intersection:last-child.white.valid {
      background: url('../i/board/temporary/tile2sed.png') !important; }
    .board .row:last-child .intersection:last-child.white.last.latest {
      background: url('../i/board/temporary/tile2sed.png') !important; }
  .board .row:last-child .intersection:last-child:not(.black):not(.white) {
    background: url('../i/board/temporary/tile0se.png'); }
  .board .row:last-child .star.black {
    background: url('../i/board/temporary/tile1.png'); }
    .board .row:last-child .star.black.valid {
      background: url('../i/board/temporary/tile1d.png') !important; }
    .board .row:last-child .star.black.last.latest {
      background: url('../i/board/temporary/tile1d.png') !important; }
  .board .row:last-child .star.white {
    background: url('../i/board/temporary/tile2.png'); }
    .board .row:last-child .star.white.valid {
      background: url('../i/board/temporary/tile2d.png') !important; }
    .board .row:last-child .star.white.last.latest {
      background: url('../i/board/temporary/tile2d.png') !important; }
  .board .row:last-child .star:not(.black):not(.white) {
    background: url('../i/board/temporary/tile0c.png'); }
  .board .row:last-child .star.valid {
    BEFORE: URL('../i/board/temporary/tile0c.png'); }

.board.size9 .row:nth-child(3) .intersection:not(.black):not(.white):nth-child(3), .board.size9 .row:nth-child(3) .intersection:not(.black):not(.white):nth-last-child(3), .board.size9 .row:nth-last-child(3) .intersection:not(.black):not(.white):nth-child(3), .board.size9 .row:nth-last-child(3) .intersection:not(.black):not(.white):nth-last-child(3), .board.size11 .row:nth-child(3) .intersection:not(.black):not(.white):nth-child(3), .board.size11 .row:nth-child(3) .intersection:not(.black):not(.white):nth-last-child(3), .board.size11 .row:nth-last-child(3) .intersection:not(.black):not(.white):nth-child(3), .board.size11 .row:nth-last-child(3) .intersection:not(.black):not(.white):nth-last-child(3) {
  background: url('../i/board/temporary/tile0c.png'); }
.board.size9 .row:nth-child(3) .intersection:not(.black):not(.white):not(:nth-child(3)):not(:nth-last-child(3)):not(:first-child):not(:last-child), .board.size9 .row:nth-last-child(3) .intersection:not(.black):not(.white):not(:nth-child(3)):not(:nth-last-child(3)):not(:first-child):not(:last-child), .board.size11 .row:nth-child(3) .intersection:not(.black):not(.white):not(:nth-child(3)):not(:nth-last-child(3)):not(:first-child):not(:last-child), .board.size11 .row:nth-last-child(3) .intersection:not(.black):not(.white):not(:nth-child(3)):not(:nth-last-child(3)):not(:first-child):not(:last-child) {
  background: url('../i/board/temporary/tile0.png'); }
.board.size9 .row:not(:nth-child(3)):not(:nth-last-child(3)):not(:first-child):not(:last-child) .intersection:not(.black):not(.white):not(:first-child):not(:last-child), .board.size11 .row:not(:nth-child(3)):not(:nth-last-child(3)):not(:first-child):not(:last-child) .intersection:not(.black):not(.white):not(:first-child):not(:last-child) {
  background: url('../i/board/temporary/tile0.png'); }

.board:not(.size9):not(.size11) .row:nth-child(4) .intersection:not(.black):not(.white):nth-child(4), .board:not(.size9):not(.size11) .row:nth-child(4) .intersection:not(.black):not(.white):nth-last-child(4), .board:not(.size9):not(.size11) .row:nth-last-child(4) .intersection:not(.black):not(.white):nth-child(4), .board:not(.size9):not(.size11) .row:nth-last-child(4) .intersection:not(.black):not(.white):nth-last-child(4) {
  background: url('../i/board/temporary/tile0c.png'); }
.board:not(.size9):not(.size11) .row:nth-child(4) .intersection:not(.black):not(.white):not(:nth-child(4)):not(:nth-last-child(4)):not(:first-child):not(:last-child), .board:not(.size9):not(.size11) .row:nth-last-child(4) .intersection:not(.black):not(.white):not(:nth-child(4)):not(:nth-last-child(4)):not(:first-child):not(:last-child) {
  background: url('../i/board/temporary/tile0.png'); }
.board:not(.size9):not(.size11) .row:not(:nth-child(4)):not(:nth-last-child(4)):not(:first-child):not(:last-child) .intersection:not(.black):not(.white):not(:first-child):not(:last-child) {
  background: url('../i/board/temporary/tile0.png'); }

.playing .board .valid {
  cursor: pointer; }

.move .actions .send {
  display: none; }

.move.playing .actions .send {
  display: inline !important; }

.intersection {
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  -khtml-background-size: 100%;
  -moz-background-size: 100%; }
