!!!Strict
%html{html_attrs('en')}
  %head
    %script{:type => 'text/javascript', :src => 'http://www.google.com/jsapi'}
    :javascript 
      google.load("jquery", "1.3.2");
    %script{:type => 'text/x-javascript', :src => "jqtouch/jqtouch.min.js", :charset => "utf-8"}
    %style{:type=>"text/css", :media=>"screen"} @import "jqtouch/jqtouch.min.css";
    %style{:type=>"text/css", :media=>"screen"} @import "themes/jqt/theme.min.css";
  %body