!!!Strict
%html{html_attrs('en')}
  %head
      
    %script{:src=>"/javascripts/jquery-1.4.2.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"/javascripts/jquery-ui-1.8rc3.custom.min.js", :type=>"text/javascript", :charset=>"utf-8"} 
    %script{:src=>"/jqtouch/jqtouch.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"/javascripts/jgesture-1.0.3-safari.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"/javascripts/jquery.periodicalupdater.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"/javascripts/md5.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"/javascripts/jquery.gravatar.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"/javascripts/application.js", :type=>"text/javascript", :charset=>"utf-8"} 
    
    %style{:type=>"text/css", :media=>"screen"} @import "/jqtouch/jqtouch.css";
    %style{:type=>"text/css", :media=>"screen"} @import "/themes/jqt/theme.css";
    %style{:type=>"text/css", :media=>"screen"} @import "/stylesheets/application.css";
    %style{:type=>"text/css", :media=>"screen"} @import "/stylesheets/board.css";
    %style{:type=>"text/css", :media=>"screen"} @import "/stylesheets/dark-hive/jquery-ui-1.8rc3.custom.css";
    
    :javascript
      var jQT = new $.jQTouch({
          icon: 'jqtouch.png',
          statusBar: 'black-translucent',
          touchSelector: '.board img, .touch',
          preloadImages: [
              // '/themes/jqt/img/chevron_white.png',
              // '/themes/jqt/img/bg_row_select.gif',
              '/themes/jqt/img/back_button_clicked.png',
              '/themes/jqt/img/button_clicked.png'
              ]
      });
      $(function(){
          jQT.addAnimation({
              name: 'slideback',
              selector: '.slideback'
          });
      });
      var iphone_layout_helper = GO.iphone_layout_helper();
      $(document).ready( function () {
        iphone_layout_helper.document_ready_hook();
      }); 
  %body
    = yield